<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio Pizza</title>
    <!-- Aggiungi il link al file CSS di Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Dettaglio Pizza</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${pizza.nome}"></h5>
                <p class="card-text" th:text="${pizza.descrizione}"></p>
                <img class="card-img-top" th:src="${pizza.foto}" alt="Immagine Pizza">
                <p class="card-text">Prezzo: <span th:text="${pizza.prezzo}"></span></p>
            </div>
        </div>
        
        <!-- Aggiungi il link per andare al form di creazione di una nuova offerta -->
        <a class="btn btn-primary" th:href="@{/pizza/{pizzaId}/offerta/nuova(pizzaId=${pizza.id})}">Crea nuova offerta speciale</a>
        
        <div>
            <h2>Offerte speciali</h2>
            <ul>
                <li th:each="offertaSpeciale : ${offerteSpeciali}">
                    <h4 th:text="${offertaSpeciale.titolo}"></h4>
                    <p>Percentuale di sconto: <span th:text="${offertaSpeciale.percentualeSconto}"></span></p>
                    <a class="btn btn-primary" th:href="@{/pizza/{pizzaId}/offerta/{offertaId}/modifica(pizzaId=${pizza.id}, offertaId=${offertaSpeciale.id})}">Modifica offerta speciale</a>
                </li>
            </ul>
        </div>

        <a class="btn btn-primary" th:href="@{/}">Torna all'elenco pizze</a>
    </div>
</body>
</html>
